.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(13, 36, 65, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.logout-modal {
  width: 370px;
  box-sizing: border-box;
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.logout-modal h2 {
  margin: 0 0 10px;
}
.logout-modal p {
  margin: 0 0 25px;
}
.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.modal-buttons button {
  width: 120px;
  height: 42px;
  padding: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}
.logout-btn {
  background-color:#BB2626;
  color: white;
  border: none;
}
.cancel-btn {
  border: 1px solid #145cb4;
  color: #145cb4;
  font-size: 16px;
  background-color: transparent;
}

