*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dashboard-nav {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 272px;
  background-color: #046ECF;
}
.dashboard {
  height: 80vh;
  display: flex;
}
